<h1>Rick and Morty Collectibles</h1>

<%= render 'shared/navbar' %>

<h2>Search Results</h2>

<% if @search_results.present? %>
  <div class="cards-container">
    <% @search_results.each do |character| %>
      <div class="card">
        <%= image_tag(character['image']) %>
        <div class="card-details">
          <h2><%= character['name'] %></h2>
          <p>Status: <%= character['status'] %></p>
          <p>Gender: <%= character['gender'] %></p>
          <% if character['location'] %>
            <p>Location: <%= character['location']['name'] %></p>
            <p>Dimension: <%= character['location']['dimension'] %></p>
          <% else %>
            <p>Location: Unknown</p>
            <p>Dimension: Unknown</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No results found.</p>
<% end %>
